<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danielg.nba.leaguepass</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>97F49E5F-19DF-41AC-9E76-82E82C5E0AEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D07D5451-C36B-41D3-8144-B8885E51CCC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>danielg</string>
	<key>description</key>
	<string>Choose an NBA game to watch on NBA League Pass.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Watch NBA League Pass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://watch.nba.com/game/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D07D5451-C36B-41D3-8144-B8885E51CCC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>watch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Games...</string>
				<key>script</key>
				<string>python nbalp.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Watch a game on NBA League Pass</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>97F49E5F-19DF-41AC-9E76-82E82C5E0AEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow for choosing a game to watch on NBA League Pass without spoilers.
Open using the "watch" keyword and choose from a list of NBA games from yesterday (without scores). Choosing a game will open it on NBA League Pass.</string>
	<key>uidata</key>
	<dict>
		<key>97F49E5F-19DF-41AC-9E76-82E82C5E0AEA</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D07D5451-C36B-41D3-8144-B8885E51CCC0</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
